<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072073007321-9241v8a80rdvob4qllaqv1mkrk3kkg27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072073007321-9241v8a80rdvob4qllaqv1mkrk3kkg27</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072073007321-5udojse9h7s27dl9glfaohr2ii9mnfv7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDamdIDzl6Yxd_L7dR5K10AgVS78DnvTIk</string>
	<key>GCM_SENDER_ID</key>
	<string>1072073007321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsdown.in</string>
	<key>PROJECT_ID</key>
	<string>whatsdown-747f2</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsdown-747f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072073007321:ios:e6558ee4c3ebdfa6219ec8</string>
</dict>
</plist>